{% extends "base.html" %} {% block content %}

</style>
<section class="bestseller-section">
  <div class="banner-bestseller">
    <h2>Best Sellers</h2>
  </div>
  <div class="products-grid">
    {% for product in products %}
    <div class="product-card">
      <div class="product-img">
        <img
          src="{{ url_for('static', filename=product.image) }}"
          alt="{{ product.name }}"
        />
      </div>

      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>

        <div class="product-bottom">
          <span class="price">Rp. {{ product.price }}</span>
          <div class="product-icons">
            <i class="fa-solid fa-bag-shopping"></i>
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
