{% extends "base.html" %} {% block content %}
<div class="banner-bestseller">
  <h2 id="makeup">Makeup</h2>
</div>
<div class="product-section">
  <div class="product-items">
    {% for product in products %}
    <div class="product-card">
      <div class="product-img">
        <img
          src="{{ url_for('static', filename='images/products/' + product.images) }}"
          alt="{{ product.name }}"
        />
      </div>

      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>

        <div class="product-bottom">
          <span class="price">Rp. {{ product.price }}</span>

          <div class="product-icons">
            <button
              class="add-to-cart"
              data-id="{{ product.id }}"
              data-name="{{ product.name }}"
              data-price="{{ product.price }}"
            >
              <i class="fa-solid fa-bag-shopping"></i>
            </button>

            <button class="add-to-wishlist">
              <i class="fa-regular fa-heart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".add-to-cart");

    buttons.forEach((btn) => {
      btn.addEventListener("click", () => {
        const id = btn.dataset.id;
        const name = btn.dataset.name;
        const price = btn.dataset.price;

        fetch("/add-to-cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            product_id: id,
            name: name,
            price: price,
          }),
        })
          .then((res) => res.json())
          .then((data) => {
            alert(data.message);
          });
      });
    });
  });
</script>
{% endblock %}
