{% extends 'base.html' %} {% block title %}Beautify.id | Home{% endblock %} {%
block content %}

<h1>Your Profile</h1>

<img
  src="{{ url_for('static', filename='profile/' + current_user.profile_image) }}"
  style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover"
/>

<form
  action="{{ url_for('upload_profile') }}"
  method="POST"
  enctype="multipart/form-data"
>
  <input type="file" name="image" required />
  <button type="submit">Upload New Picture</button>
</form>

{% endblock %}
