{% extends 'base.html' %} {% block title %}Beautify.id | Track Order{% endblock
%} {% block content %}

<div class="track-container">
  <div class="track-order-banner">
    <h2>My Cart</h2>
  </div>

  <div class="tab-menu">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
  </div>
  <!-- To Pay Section -->
  <section id="to-pay-section" class="tab-content active">
    <div class="to-pay">
      {% for product in cart %}
      <div class="track-order-product-container">
        <!-- Product Image -->
        <img
          src="{{ url_for('static', filename='images/' + product.images[0]) }}"
          alt="{{ product.name }}"
        />

        <div class="track-order-product-info">
          <h3>{{ product.name }}</h3>
          <p>Brand: {{ product.brand }}</p>
          <p>Variation: {{ product.tags | join(', ') }}</p>
          <p>Quantity: {{ product.quantity if product.quantity else 1 }}</p>
          <p>Price: Rp. {{ "{:,.0f}".format(product.price) }}</p>
        </div>
        <button
          class="delete-btn"
          onclick="removeItem('{{ product.product_id }}')"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>

      <hr />
      {% endfor %}
      <div class="payment">
        <button class="payment">
          Proceed to Payment - Rp. {{ "{:,.0f}".format(cart |
          sum(attribute='price')) }}
        </button>
      </div>
    </div>
  </section>
</div>

{% endblock %}
