{% extends 'base.html' %} {% block title %}Beautify.id | Home{% endblock %} {%
block content %}
<div class="hero-section">
  <a href=""><img src="../static/images/hero1.jpg" alt="" /></a>
</div>

<div class="related-section">
  <h2>Recommended for You</h2>
  <div id="related-items" class="related-items"></div>
</div>

<div class="container-2">
  <h3>Explore Top Beauty Brands!</h3>
  <p>Because great skin starts with the right brand.</p>
  <img
    src="{{ url_for('static', filename='images/home-image-23.png') }}"
    alt="brands"
  />
</div>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-messages">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %} {% endblock %}
