{% extends 'base.html' %} {% block title %}Beautify.id | Home{% endblock %} {%
block content %}
<div class="hero-section">
  <div class="hero-content">
    <h1>Your beauty, one click away.</h1>
    <p>
      Discover a world of skincare and makeup from trusted brands and local
      favorites, find everything your skin needs in one place. Shop the latest
      trends and enjoy a seamless beauty experience.
    </p>
    <button class="shop-btn">Shop now</button>
  </div>

  <div class="hero-image">
    <img
      src="{{ url_for('static', filename='images/home-image-1.png') }}"
      alt="Glad2Glow Moisturizer"
    />
  </div>
</div>

<div class="related-section">
  <h2>Recommended for You</h2>
  <div id="related-items" class="related-items"></div>
</div>

<div class="container-2">
  <h3>Explore Top Beauty Brands!</h3>
  <p>Because great skin starts with the right brand.</p>
  <img
    src="{{ url_for('static', filename='images/home-image-23.png') }}"
    alt="brands"
  />
</div>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-messages">
  {% for category, message in messages %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %} {% endblock %}
