{% extends 'base.html' %} {% block title %}Beautify.id | Track Order{% endblock
%} {% block content %}
<div class="track-container">
  <div class="track-order-banner">
    <h2>Track Order</h2>
  </div>

  <div class="track-order-nav">
    <nav class="track-order">
      <button onclick="goToSection('to-pay-section')" class="order-nav-btn">
        To Pay
      </button>
      <button onclick="goToSection('to-ship-section')" class="order-nav-btn">
        To Ship
      </button>
      <button onclick="goToSection('to-receive-section')" class="order-nav-btn">
        To Receive
      </button>
      <button
        onclick="goToSection('to-complete-section')"
        class="order-nav-btn"
      >
        Completed
      </button>
      <button onclick="goToSection('to-cancel-section')" class="order-nav-btn">
        Cancelled
      </button>
      <button onclick="goToSection('to-return-section')" class="order-nav-btn">
        Return Refund
      </button>
    </nav>
  </div>

  <section id="to-pay-section" class="tab-content active">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>

    <div class="to-pay">
      {% for product in items %}
      <hr />

      <div class="cart-card">
        <div class="cart-img-wrapper">
          <img
            src="{{ url_for('static', filename='images/products/' + product.images) }}"
            alt="{{ product.name }}"
          />
        </div>

        <div class="cart-info">
          <h4 class="brand">{{ product.brand }}</h4>
          <p class="name">{{ product.name }}</p>
          <p class="variation">Variation: {{ product.tags | join(', ') }}</p>
          <p class="qty">Qty: {{ product.quantity }}</p>
          <p class="price">Rp. {{ "{:,.0f}".format(product.price) }}</p>
        </div>
      </div>

      {% endfor %}
      <form action="{{ url_for('paynow') }}" method="POST">
        <div class="total-pay">
          <h3>Total Payment: Rp. {{ "{:,.0f}".format(total) }}</h3>
        </div>

        <button type="submit" class="pay-now-btn">Pay Now</button>
      </form>
    </div>
  </section>

  <section id="to-ship-section" class="tab-content">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
    <div class="to-ship">To Ship content here...</div>
  </section>

  <section id="to-receive-section" class="tab-content">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
    <div class="to-receive">To Receive content here...</div>
  </section>

  <section id="to-complete-section" class="tab-content">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
    <div class="to-complete">Completed content here...</div>
  </section>

  <section id="to-cancel-section" class="tab-content">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
    <div class="to-cancel">Cancelled content here...</div>
  </section>

  <section id="to-return-section" class="tab-content">
    <div class="nav-search">
      <input
        type="text"
        placeholder="&#9776; Specific Order"
        class="nav-search-input"
      />
      <i class="fas fa-magnifying-glass"></i>
    </div>
    <div class="to-return">Returned content here...</div>
  </section>
</div>
{% endblock %}
