{% extends 'base.html' %} {% block title %}Beautify.id | Track Order{% endblock
%} {% block content %}
<div class="track-container">
  <div class="track-order-banner">
    <h2>Track Order</h2>
  </div>

  <div class="track-order-nav">
    <nav class="track-order">
      <button onclick="goToSection('to-pay-section')" class="order-nav-btn">
        To Pay
      </button>
      <button onclick="goToSection('to-ship-section')" class="order-nav-btn">
        To Ship
      </button>
      <button onclick="goToSection('to-receive-section')" class="order-nav-btn">
        To Receive
      </button>
      <button
        onclick="goToSection('to-complete-section')"
        class="order-nav-btn"
      >
        Completed
      </button>
      <button onclick="goToSection('to-cancel-section')" class="order-nav-btn">
        Cancelled
      </button>
      <button onclick="goToSection('to-return-section')" class="order-nav-btn">
        Return Refund
      </button>
    </nav>
  </div>

<!-- Sections -->
<section id="to-pay-section" class="tab-content active">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-pay">
    {{ brand_name }}
    <hr>
    <div class="track-order-product-container">
      <img src="{{ product_image_url }}" alt="#">
      <i class="fas fa-info-circle"></i>
      <div class="track-order-product-info">
        <h3>{{ product_name }}</h3>
        <p>Variation: {{ product_tags }}</p>
        <p>Quantity: {{ product_quantity }}</p>
        <p>Price: Rp. {{ product_price }}</p>
    </div>
  </div>
</section>

<section id="to-ship-section" class="tab-content">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-ship">To Ship content here...</div>
</section>

<section id="to-receive-section" class="tab-content">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-receive">To Receive content here...</div>
</section>

<section id="to-complete-section" class="tab-content">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-complete">Completed content here...</div>
</section>

<section id="to-cancel-section" class="tab-content">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-cancel">Cancelled content here...</div>
</section>

<section id="to-return-section" class="tab-content">
    <div class="nav-search">
    <input
      type="text"
      placeholder="&#9776; Specific Order"
      class="nav-search-input"
    />
    <i class="fas fa-magnifying-glass"></i>
  </div>
  <div class="to-return">Returned content here...</div>
</section>

  {% endblock %}
</div>
